*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', serif;
}

/*======== 
typography
=========*/
.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.heading {
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.cta-btn {
  background: #a59678;
  padding: 0.2em 1em;
  border-radius: 100px;
}

.cta-btn:active {
  opacity: 0.7;
}

/*=====
layout 
======*/
.website {
  position: relative;
}

section {
  padding-block: 2.5em;
}

.header {
  width: 100%;
  background: #2e323f;
  font-weight: 400;
  padding-block: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  /* left: 0; */
  top: 0;
}

.minimal-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header .nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3.5em;
  height: 3.5em;
  padding: 0;
  border-radius: 50%;
  background: #a59678;
  color: #fff;
  transition: opacity 250ms ease;
  position: absolute;
  left: 1em;
  /* margin-right: auto; */
}

.header .nav-toggle:hover,
.header .nav-toggle:focus {
  opacity: 0.75;
}

.hamberger {
  width: 50%;
}

.hamberger,
.hamberger::before,
.hamberger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: #fff;
}

.hamberger::before,
.hamberger::after {
  content: '';
  width: 100%;
}

.hamberger::before {
  transform: translateY(-6px);
}

.hamberger::after {
  transform: translateY(3px);
}

.header a {
  color: #fff;
}

.header .nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.header .nav ul li {
  font-size: 1.2rem;
}

/* hero section */
section.hero {
  margin: 0 auto;
  color: #fff;
  background: #3b4050;
}

section.hero h1.hero-title {
  letter-spacing: 0.5px;
  line-height: 1.1;
  font-size: 2.2rem;
  margin-top: 0;
}

section.hero a.cta-btn {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  padding: 0.7em 1.4em;
}

/* three cols section */
section.advantages {
  background: #f1f1f1;
}

section.advantages .row {
  margin: 0 auto;
  padding: 1.5em 0;
}

section.advantages h3 {
  font-size: 1.5rem;
  color: #a59678;
  margin-top: 0;
}

section.advantages .col:nth-of-type(3) p {
  margin-bottom: 0;
}

/* article */
.article {
  padding-bottom: 0;
}

.article-main h3 {
  margin-top: 0;
  color: #a59678;
  font-size: 1.5rem;
}

/* aside */
aside .row-width-90 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

aside .aside-container {
  background: #3b4050;
  color: #fff;
  text-align: center;
  padding: 0 1em;
  margin-bottom: 2em;
}

aside h4 {
  font-size: 1.2rem;
}

aside p {
  font-size: 1rem;
  font-weight: 300;
}

aside .row-width-90 div:nth-of-type(3) p {
  padding-top: 2em;
}

.footer {
  background: #3b4050;
  color: #b2b5bd;
  padding-block: 1.5em;
  /* padding-inline: 1em; */
}

.footer h2 {
  color: #fff;
  text-align: center;
  margin-top: 0;
}

.footer h5 {
  color: #a59678;
  font-size: 1.2rem;
}

.footer p, 
.footer a {
  font-size: 0.9rem;
}

.footer a {
  color: #b2b5bd;
}

.footer .nav li {
  margin-bottom: 1em;
}

.footer .nav:nth-of-type(3) ul {
  margin-bottom: 0;
}

/*=======
utility */
.make-text-gold__title {
  color: #a59678;
}

.row-width-90 {
  width: 90%;
  margin: 0 auto;
}

.nav-hidden {
  display: none;
}

/* media query */
@media (min-width: 700px) {}

@media (min-width: 1000px) {}